@model DetailsViewModel

<div>
    <div style="float:right">
        <img img alt="No Image" src="@ViewBag.imgPath" asp-append-version="true" />
    </div>
    <div>
        <h3>@Model.Product.Name - @Model.Product.Author</h3>
        <span class="label label-info">@Model.Product.Price.ToString("c")</span>
        <h5>@Model.Product.Category</h5>
        <p>@Model.Product.Description</p>
    </div>
</div>

<div>
    <form id="@Model.Product.ProductID" asp-controller="Cart" asp-action="AddToCart" method="post">
        <input type="hidden" asp-for="Product.ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewBag.rUrl" />
        <button type="submit" class="btn btn-danger">Do koszyka</button>
        <a class="btn btn-primary" href="@ViewBag.rUrl">Powrót</a>
    </form>
</div>

<div>
    <h3>KOMENTARZE: </h3>
    <form asp-controller="Product" asp-action="AddComment" method="post">
        <div class="form-group">
            <input type="hidden" name="productID" value="@Model.Product.ProductID" />
            <input type="hidden" name="returnUrl" value="@ViewBag.rUrl" />

            <input name="author" placeholder="Autor" />
            <br />
            <textarea name="body" rows="5"></textarea>
            <br />
            <button class="btn btn-primary" type="submit">Dodaj</button>
        </div>
    </form>

    @foreach (var i in Model.Comments)
    {
        <p>Autor: @i.Author</p>
        <p>@i.Body</p>
        <br />
    }
</div>