@model DetailsViewModel

<div class="col-md-12">
    <div class="col-md-8">
        <h3>@Model.Product.Name - @Model.Product.Author</h3>
        <span class="label label-info">@Model.Product.Price.ToString("c")</span>
        <h5><span class="text-info">kategoria:</span> @Model.Product.Category</h5>
        <p>@Model.Product.Description</p>
    </div>
    <span class="col-md-4" style="display:inline-block;">
        <img img alt="No Image" src="@ViewBag.imgPath" asp-append-version="true" style="border:1px solid #ddd;
        border-radius:8px;max-width:75%;margin-top:5px" />
    </span>
</div>

<div class="col-md-12">
    <form style="float:left" id="@Model.Product.ProductID" asp-controller="Cart" asp-action="AddToCartFromDetail" method="post">
        <input type="hidden" name="productId" value="@Model.Product.ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewBag.rUrl" />
        <button style="float:left" type="submit" class="btn btn-danger">Do koszyka</button>
        <a class="btn btn-primary" href="@ViewBag.rUrl" style="margin-left:5px">Powrót</a>
    </form>

    <br />
    <h3>Komentarze</h3>

    @await Component.InvokeAsync("AddCom", new { productId = @Model.Product.ProductID, returnUrl = @ViewBag.rUrl })

    @foreach (var i in Model.Comments)
    {
        <p><i class="far fa-comment-dots"></i> @i.Body</p>
        <br />
    }
</div>