@model UserDetailsViewModel

<h2>Profil konta @Model.User.Email</h2>
<br />
<h3>Aktualnie dane do wysyłki</h3>
<h4>Odbiorca: <strong>@Model.User.Name</strong></h4>
<h4>Ulica: <strong>@Model.User.Street</strong></h4>
<h4>Numer domu: <strong>@Model.User.StreetNumber</strong></h4>
<h4>Numer mieszkania: <strong>@Model.User.HouseNumber</strong></h4>
<h4>Miasto: <strong>@Model.User.City</strong></h4>
<h4>Kod pocztowy: <strong>@Model.User.Zip</strong></h4>

<a class="btn btn-primary" asp-action="EditDetails">Edytuj</a>

<h3>Opublikowane komentarze</h3>
@foreach (var c in Model.Comments)
{
    <div style="background-color: lightgrey">
        <p>skomentowany produkt: <strong>@c.ProductName - @c.ProductAuthor</strong></p>
        <p>"@c.Body"</p>
    </div>
    <hr />
}