@model AppUser

<h2>Edycja danych</h2>
<form asp-action="EditDetails" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name">odbiorca</label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Street">ulica</label>
        <input asp-for="@Model.Street" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.StreetNumber">numer domu</label>
        <input asp-for="@Model.StreetNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.HouseNumber">numer mieszkania</label>
        <input asp-for="@Model.HouseNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.City">miasto</label>
        <input asp-for="@Model.City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Zip">kod pocztowy</label>
        <input asp-for="@Model.Zip" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a class="btn btn-danger" asp-action="Details">Anuluj</a>
</form>