@model Product

<div>
    <div>
        <h3>@Model.Name - @Model.Author</h3>
        <span class="label label-info" style="float:right">@Model.Price.ToString("c")</span>
        <h5>@Model.Category</h5>
    </div>

    <form style="float:left:" id="@Model.ProductID" asp-controller="Cart" asp-action="AddToCart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button style="float:left" type="submit" class="btn btn-danger">Do koszyka</button>
    </form>

    <form id="@Model.ProductID" asp-controller="Product" asp-action="Details" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button style="float:left; margin-left:5px;" type="submit" class="btn btn-primary">Zobacz szczegóły</button>
    </form>
</div>
<br />
<hr />