@model Product

<div>
    <h3>@Model.Name - @Model.Author</h3>
    <span class="label label-info" style="float:right">@Model.Price.ToString("c")</span>
    <h5>@Model.Category</h5>
    <h5>@Model.Description</h5>
</div>