@model IEnumerable<Product>

@{
    ViewBag.Title = "Zarządzaj produktami";
}

<a asp-controller="Administration" asp-action="Index" class="btn btn-danger navbar-btn" style="margin-left:5px; float:left">
    Powrót
</a>
<br /><br />

<h2>Zarządzaj produktami</h2>
<br />
<div class="text-center">
    <a asp-action="AddProduct" class="btn btn-primary">Dodaj nowy produkt</a>
</div>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Autor</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.ProductID</td>
                <td>@i.Name</td>
                <td>@i.Author</td>
                <td>@i.Price</td>
                <td>@i.Category</td>
                <td class="text-center">
                    <a asp-action="EditProduct" class="btn btn-sm btn-warning" asp-route-productId="@i.ProductID">Edytuj</a>
                </td>
                <td class="text-center">
                    <form asp-action="DeleteProd" method="post">
                        <input type="hidden" name="ProductID" value="@i.ProductID" />
                        <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>